body {
    background-image: url('../images/wood.jpg');
    color: #eddecf;
}

.header {
    background-image: url('../images/header.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 230px;
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.header .logo {
    display: block;
    text-indent: -9000px;
    width: 300px;
    height: 230px;
}

.header h1 {
    position: absolute;
    left: 330px;
    top: 170px;
}

.header .wishlist {
    position: absolute;
    right: 180px;
    top: 111px;
    width: 100px;
}

.header .wishlist a {
    color: #eee;
}

.header .basket {
    position: absolute;
    right: 0;
    top: 111px;
    width: 163px;
}

.header .basket a {
    color: #404040;
}

.container {
    background-color: #f5f6f7;
    color: #404040;
    padding: 30px;
}

.breadcrumb {
    margin-bottom: 32px;
}

.footer {
    color: #BFBFBF;
}

h1, h2, h3 {
    font-weight: normal;
}

table {
    background-color: #fff;
}

img.thumbnail {
    border: 1px solid #ddd;
    padding: 9px;
    background-color: #fafbfb;
}

.form-basket .actions {
    padding-left: 0;
}

.form-cart .remove {
    border: 0;
    background-color: transparent;
}

.form-cart .remove img {
     vertical-align: text-bottom;
}

.form-cart .actions {
    padding-left: 750px;
}

.form-checkout h2 {
    margin-bottom: 10px;
}

.home a {
    text-decoration: none;
}

.categories {
    border-right: 1px solid #ddd;
}

.categories a {
    display: block;
    text-decoration: none;
    color: #404040;
    height: 80px;
    border-bottom: 1px solid #ddd;
    padding-top: 20px;
    padding-left: 22px;
}

.categories a:hover {
    background-color: #fafbfb;
}

.categories a img {
    display: block;
    float: left;
    padding-right: 15px;
}

.categories a span {
    display: block;
    padding-top: 13px;
}

.product {
    padding-bottom: 32px;
}
